
<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Employee Registration</title>
    <link rel="stylesheet" href="{% static 'css/Registration.css' %}">


  </head>
  <body>

    <form method="POST" action="#">
      {% csrf_token %}
      <div class="container">
             <div class="heading">

        <h1>Employee Registration</h1>
               </div>

        <div class="view">
          <h4><a href = "http://127.0.0.1:8000/report">View Report</a></h4>
          </div>

        <hr>

<div class="tablecenter">

        <label for="EmpRegNo"><b>Employee Reg. No. : </b></label>
        <input type="text" placeholder="Enter Registration Number" id="EmpRegNo" name="EmpRegNo" required><br>

        <label for="FirstName"><b>First Name</b></label>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Enter your First Name" name="FirstName" id="FirstName" required><br>

        <label for="LastName"><b>Last Name</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Enter your Last Name" name="LastName" id="LastName" required><br>

        <label for="City"><b>City</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" placeholder="Enter your city" name="City" id="City" required><br>


          <label for="Age"><b>Age</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" placeholder="Enter your age" name="Age" id="Age" required><br>

        <label for="MobileNo"><b>Mobile Number</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="tel" placeholder="Enter your Mobile Number" name="MobileNo" id="MobileNo" required><br>


        <label for="Email"><b>Email ID</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="email" placeholder="Enter your Email-ID" name="Email" id="Email" required><br>
        <hr>


        <button type="submit" class="registerbtn">Register</button>
</div>
      </div>

      </form>

  </body>
</html>
